.root {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

  .list-item {
    display: block;
    margin-bottom: 1rem;
  }
}

.horizontal {
  flex-direction: row;
  flex-wrap: wrap;

  .list-item {
    margin-right: 1rem;
  }
}
